extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 Edward Abraham Peña Espinal
        p.lead.text-light
          | Full Stack React Developer.
        .portfolio-bio
          p
            | Hi, I’m Edward. I’m a Information Systems graduate, currently working as a Full-Stack React Developer. <br/><br/>I’ve previously worked as a Software developer for the technology company ClickTeck. During that time, I oversaw the release of multiple desktop and web applications to customers on premises and on cloud. I also worked as a Full-Stack Developer for ShopaDropa helping in the design and deployment of a online shopping store.
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills
        ul
          li React.js / React Native
          li Next.js / Gatsby.js
          li Node.js / Firebase / Squareup
          li Microsoft SQL Server / MySQL / MongoDB
          li Javascript / TypeScript
          li HTML5 / CSS
          li Material UI / Bootstrap
          li Microsoft Azure
          li GitHub / Tortoise SVN
          li Nginx / PM2
        h6 Contact Info
        ul
          li 778-984-6841
          li edwardpe22@gmail.com
        a.button.expanded(href='www.linkedin.com/in/edward-abraham-peña-espinal' target="_blank") 
          i.fa-brands.fa-linkedin &nbsp;
          span LinkedIn
        a.button.expanded(href='https://github.com/edwardp22' target="_blank")
          i.fa-brands.fa-github &nbsp;
          span GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  