extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 Edward Abraham Peña Espinal
        p.lead.text-light
          | Full Stack React Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills
        ul
          li React.js / React Native
          li Next.js / Gatsby.js
          li Node.js / Firebase / Squareup
          li Microsoft SQL Server / MySQL / MongoDB
          li Javascript / TypeScript
          li HTML5 / CSS
          li Material UI / Bootstrap
          li Microsoft Azure
          li GitHub / Tortoise SVN
          li Nginx / PM2
        h6 Contact Info
        ul
          li 778-984-6841
          li edwardpe22@gmail.com
        a.button.expanded(href='www.linkedin.com/in/edward-abraham-peña-espinal' target="_blank") 
          i.fa-brands.fa-linkedin &nbsp;
          span LinkedIn
        a.button.expanded(href='https://github.com/edwardp22' target="_blank")
          i.fa-brands.fa-github &nbsp;
          span GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  