<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
                
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/images/profile.jpg')
          .cell.auto.myInfo
            h5 Edward Abraham Peña Espinal
            p.text-light
              | I have developed software through different programming languages such as JavaScript / TypeScript with React.js, React Native and Node.js, MS SQL, MySQL, and MongoDB with different platforms such as on-premises and on the cloud. A flexible and open person, not afraid of new challenges who is always looking for new knowledge and experiences every day.
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title Edward Abraham Peña Espinal
      block content
  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/what-input.js')
  script(src='/js/vendor/foundation.js')
  script(src='/js/scripts.js')
